# <center>**- SES 722 : TP n°3 Économétrie -**</center>

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

On utilise la base de données `wage1.raw`. On explique $y = log(wage)$ en fonction de `const`, `educ`, `exper`, `tenure`.

## **Exercice 1 :**
Tester l’hypothèse $H_0 : β_{educ} = 0$ et $β_{exper} = 0$. Donner la *p-value*. On doit calculer la somme des carrées des erreurs du modèle non contraint. Ensuite on doit calculer la somme des carrés des erreurs du modèle contraint. Le modèle contraint impose les contraintes de $H_0$. Donc la matrice $X = [const,tenure]$.

In [5]:
df = pd.read_csv('textfiles/WAGE1.raw', delim_whitespace=True, header=None)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4

In [7]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
count,526.000000,526.000000,526.00000,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,...,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000
mean,5.896103,12.562738,17.01711,5.104563,0.102662,0.479087,0.608365,1.043726,0.722433,0.250951,...,0.043726,0.287072,0.100760,0.258555,0.366920,0.167300,0.140684,1.623268,473.435361,78.150190
std,3.693086,2.769022,13.57216,7.224462,0.303805,0.500038,0.488580,1.261891,0.448225,0.433973,...,0.204680,0.452826,0.301298,0.438257,0.482423,0.373599,0.348027,0.531538,616.044772,199.434664
min,0.530000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.634878,1.000000,0.000000
25%,3.330000,12.000000,5.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.202972,25.000000,0.000000
50%,4.650000,12.000000,13.50000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.536867,182.500000,4.000000
75%,6.880000,14.000000,26.00000,7.000000,0.000000,1.000000,1.000000,2.000000,1.000000,0.750000,...,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.928619,676.000000,49.000000
max,24.980000,18.000000,51.00000,44.000000,1.000000,1.000000,1.000000,6.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.218076,2601.000000,1936.000000

In [25]:
wage = df[0]
y = np.log(wage)

df['const'] = 1 # on créé une colonne de 1 dans le df
X = pd.concat([df['const'], df[1], df[2], df[3]], axis=1)
X.columns = ['const', 'educ', 'exper', 'tenure'] # on renomme les colonnes
df.drop('const', axis=1) # on enlève la colonne de 1 du df

X.head()

   const  educ  exper  tenure
0      1    11      2       0
1      1    12     22       2
2      1    11      2       0
3      1     8     44      28
4      1    12      7       2

In [9]:
round(X.describe(),2)

       const    educ   exper  tenure
count  526.0  526.00  526.00  526.00
mean     1.0   12.56   17.02    5.10
std      0.0    2.77   13.57    7.22
min      1.0    0.00    1.00    0.00
25%      1.0   12.00    5.00    0.00
50%      1.0   12.00   13.50    2.00
75%      1.0   14.00   26.00    7.00
max      1.0   18.00   51.00   44.00

In [16]:
model = sm.OLS(y,X)
results = model.fit()
print(results.summary())
u = results.resid
SSR0 = u.T@u

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.316
Model:                            OLS   Adj. R-squared:                  0.312
Method:                 Least Squares   F-statistic:                     80.39
Date:                Wed, 12 Feb 2020   Prob (F-statistic):           9.13e-43
Time:                        10:33:58   Log-Likelihood:                -313.55
No. Observations:                 526   AIC:                             635.1
Df Residuals:                     522   BIC:                             652.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2844      0.104      2.729      0.007       0.080       0.489
educ           0.0920      0.007     12.555      0.000       0.078       0.106
exper          0.0041      0.002      2.391      0.017       0.001       0.008
tenure         0.0221      0.003      7.133      0.000       0.016       0.028
==============================================================================
Omnibus:                       11.534   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               20.941
Skew:                           0.021   Prob(JB):                     2.84e-05
Kurtosis:                       3.977   Cond. No.                         135.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
SSR0

101.45557091210259

In [26]:
X0 = X

In [26]:
X = pd.concat([X0['const'], X0['tenure']], axis=1)
model = sm.OLS(y,X)
results = model.fit()
print(results.summary())
u = results.resid
SSR1 = u.T@u

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.104
Method:                 Least Squares   F-statistic:                     62.11
Date:                Wed, 12 Feb 2020   Prob (F-statistic):           1.89e-14
Time:                        10:42:47   Log-Likelihood:                -383.98
No. Observations:                 526   AIC:                             772.0
Df Residuals:                     524   BIC:                             780.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.5010      0.027     55.870      0.000       1.448       1.554
tenure         0.0240      0.003      7.881      0.000       0.018       0.030
==============================================================================
Omnibus:                        8.882   Durbin-Watson:                   1.776
Prob(Omnibus):                  0.012   Jarque-Bera (JB):               11.058
Skew:                           0.185   Prob(JB):                      0.00397
Kurtosis:                       3.606   Cond. No.                         10.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [27]:
SSR1

132.61050949149728

Calcul de la statistique de Fisher :
$$
F = \frac{(\text{SSR1} − \text{SSR0}) / 2}{\text{SSR0} / (n−k)}
$$

In [28]:
from scipy.stats import f

n,k = np.shape(X0)
F = ((SSR1-SSR0)/2) / (SSR0/(n-k)) # 2 pour le nombre de variables laissées de côtés (2 sur 4 ici)
f.sf(F,2,n-k) # 2 degré de liberté

4.41739639830283e-31

## **Exercice 2 :**
Tester l’hypothèse $H_0$ : $β_{exper} = 0$ en utilisant la méthode de Fisher et comparer au test de Student.

In [29]:
X = pd.concat([X0['const'], X0['tenure'], X0['educ']], axis=1)
model = sm.OLS(y,X)
results = model.fit()
print(results.summary())
u = results.resid
SSR2 = u.T@u

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.309
Model:                            OLS   Adj. R-squared:                  0.306
Method:                 Least Squares   F-statistic:                     116.7
Date:                Wed, 12 Feb 2020   Prob (F-statistic):           1.27e-42
Time:                        10:46:14   Log-Likelihood:                -316.41
No. Observations:                 526   AIC:                             638.8
Df Residuals:                     523   BIC:                             651.6
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4045      0.092      4.411      0.000       0.224       0.585
tenure         0.0258      0.003      9.634      0.000       0.021       0.031
educ           0.0865      0.007     12.377      0.000       0.073       0.100
==============================================================================
Omnibus:                       12.799   Durbin-Watson:                   1.772
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               24.457
Skew:                           0.022   Prob(JB):                     4.89e-06
Kurtosis:                       4.055   Cond. No.                         67.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [30]:
SSR2

102.56710639990649

In [32]:
n,k = np.shape(X0)
F = ((SSR2-SSR0)/1) / (SSR0/(n-k)) # 1 pour le nombre de variables laissées de côtés (1 sur 4 ici)
print(F)
f.sf(F,1,n-k) # 1 degré de liberté

5.718971559839938

0.017135621986490414

> Le student au carré de l'énoncé donne donc le résultat que l'on obtient avec Fischer. **Ce résultat est vrai lorsque l'on laisse une seule variable de côté.**

## **Exercice 3 :**
Tester l’hypothèse $H_0$ : $β_{educ} = 0$, $β_{exper} = 0$, $β_{tenure} = 0$. Donner la p-value.

In [34]:
X = X0['const']
model = sm.OLS(y,X)
results = model.fit()
print(results.summary())
u = results.resid
SSR3 = u.T@u

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                       inf
Date:                Wed, 12 Feb 2020   Prob (F-statistic):                nan
Time:                        10:52:02   Log-Likelihood:                -413.44
No. Observations:                 526   AIC:                             828.9
Df Residuals:                     525   BIC:                             833.1
Df Model:                           0
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.6233      0.023     70.040      0.000       1.578       1.669
==============================================================================
Omnibus:                       15.813   Durbin-Watson:                   1.819
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.670
Skew:                           0.391   Prob(JB):                     0.000240
Kurtosis:                       3.387   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [35]:
SSR3

148.32974722346773

In [36]:
n,k = np.shape(X0)
F = ((SSR3-SSR0)/3) / (SSR0/(n-k)) # 3 pour le nombre de variables laissées de côtés (3 sur 4 ici)
print(F)
f.sf(F,3,n-k) # 3 degrés de liberté

80.39091993522652

9.129958660791055e-43

## **Exercice 4 :**
Tester l’hypothèse $H_0$ : $β_{educ} = 0.1$, $β_{exper} = 0.01$.

In [45]:
y_p = y - 0.1*X0['educ'] - 0.01*X0['exper'] # on calcule notre nouveau y (y prime : y_p)

X = pd.concat([X0['const'], X0['tenure']], axis=1)
model = sm.OLS(y_p,X)
results = model.fit()
print(results.summary())
u = results.resid
SSR4 = u.T@u

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.067
Method:                 Least Squares   F-statistic:                     38.72
Date:                Wed, 12 Feb 2020   Prob (F-statistic):           1.00e-09
Time:                        11:15:55   Log-Likelihood:                -319.35
No. Observations:                 526   AIC:                             642.7
Df Residuals:                     524   BIC:                             651.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1115      0.024      4.691      0.000       0.065       0.158
tenure         0.0167      0.003      6.223      0.000       0.011       0.022
==============================================================================
Omnibus:                        8.763   Durbin-Watson:                   1.773
Prob(Omnibus):                  0.013   Jarque-Bera (JB):               14.114
Skew:                          -0.006   Prob(JB):                     0.000861
Kurtosis:                       3.802   Cond. No.                         10.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [46]:
SSR4

103.71759693624145

In [47]:
n,k = np.shape(X0)
F = ((SSR4-SSR0)/2) / (SSR0/(n-k)) # 2 pour le nombre de variables laissées de côtés (3 sur 4 ici)
print(F)
f.sf(F,2,n-k) # 2 degrés de liberté

5.819185550803581

0.0031660755577994594

## **Exercice 5 :**
Construire une variable binaire `marrfem` correspondant aux femmes mariées. Faire la régression de `log(wage)` sur une `constante`, `male`, `marrfem`, `educ`, `exper`, `tenure`. Tester et commenter l’hypothèse $H_0$ : $β_{marrfem} = 0$ à 5%.
Donner la p-value.

In [50]:
female = df[5]
male = 1 - female
married = df[6]
marrfem = married*female

df['const'] = 1 # on créé une colonne de 1 dans le df
X = pd.concat([df['const'], male, marrfem, X0['educ'], X0['exper'], X0['tenure']], axis=1)
X.columns = ['const', 'male', 'marrfem', 'educ', 'exper', 'tenure'] # on renomme les colonnes
df.drop('const', axis=1) # on enlève la colonne de 1 du df
X.head()

   const  male  marrfem  educ  exper  tenure
0      1     0        0    11      2       0
1      1     0        1    12     22       2
2      1     1        0    11      2       0
3      1     1        0     8     44      28
4      1     1        0    12      7       2

In [51]:
n,k=np.shape(X)
y = np.log(wage)

model = sm.OLS(y,X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.393
Model:                            OLS   Adj. R-squared:                  0.387
Method:                 Least Squares   F-statistic:                     67.32
Date:                Wed, 12 Feb 2020   Prob (F-statistic):           3.44e-54
Time:                        11:26:10   Log-Likelihood:                -282.17
No. Observations:                 526   AIC:                             576.3
Df Residuals:                     520   BIC:                             601.9
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2107      0.100      2.110      0.035       0.015       0.407
male           0.2793      0.047      5.939      0.000       0.187       0.372
marrfem       -0.0410      0.054     -0.761      0.447      -0.147       0.065
educ           0.0880      0.007     12.609      0.000       0.074       0.102
exper          0.0049      0.002      2.940      0.003       0.002       0.008
tenure         0.0173      0.003      5.808      0.000       0.011       0.023
==============================================================================
Omnibus:                       12.433   Durbin-Watson:                   1.772
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               23.487
Skew:                           0.005   Prob(JB):                     7.94e-06
Kurtosis:                       4.035   Cond. No.                         138.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

> On peut lire directement dans le tableau la p-valeur pour l'hypothèse $H_0$ : $0.447$. On ne rejette donc pas l'hypothèse $H_0$ à 5%. La catégorie de référence est celle des femmes célibataires.

## **Exercice 6 :**
Construire les 4 catégories suivantes : `hommes mariés`, `femmes mariées`, `hommes célibataires`, `femmes célibataires`. Tester l’hypothèse de discrimination salariale contre les femmes mariées par rapport aux hommes mariés. Donner la p-value.
> La catégorie de référence est celle des hommes mariés.

In [52]:
female = df[5]
male = 1 - female
married = df[6]
marrfem = married*female
single = 1 - married
singfem = single*female
singmal = single*male


df['const'] = 1 # on créé une colonne de 1 dans le df
X = pd.concat([df['const'], singmal, singfem, marrfem, X0['educ'], X0['exper'], X0['tenure']], axis=1)
X.columns = ['const', 'singmal', 'singfem', 'marrfem', 'educ', 'exper', 'tenure'] # on renomme les colonnes
df.drop('const', axis=1) # on enlève la colonne de 1 du df
X.head()

   const  singmal  singfem  marrfem  educ  exper  tenure
0      1        0        1        0    11      2       0
1      1        0        0        1    12     22       2
2      1        1        0        0    11      2       0
3      1        0        0        0     8     44      28
4      1        0        0        0    12      7       2

In [53]:
n,k=np.shape(X)
y = np.log(wage)

model = sm.OLS(y,X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.424
Model:                            OLS   Adj. R-squared:                  0.417
Method:                 Least Squares   F-statistic:                     63.63
Date:                Wed, 12 Feb 2020   Prob (F-statistic):           4.53e-59
Time:                        11:38:11   Log-Likelihood:                -268.44
No. Observations:                 526   AIC:                             550.9
Df Residuals:                     519   BIC:                             580.7
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6799      0.107      6.370      0.000       0.470       0.890
singmal       -0.2921      0.055     -5.273      0.000      -0.401      -0.183
singfem       -0.3888      0.050     -7.723      0.000      -0.488      -0.290
marrfem       -0.4123      0.047     -8.737      0.000      -0.505      -0.320
educ           0.0835      0.007     12.175      0.000       0.070       0.097
exper          0.0032      0.002      1.912      0.056   -8.74e-05       0.006
tenure         0.0157      0.003      5.370      0.000       0.010       0.021
==============================================================================
Omnibus:                       14.767   Durbin-Watson:                   1.774
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               29.522
Skew:                           0.071   Prob(JB):                     3.88e-07
Kurtosis:                       4.152   Cond. No.                         158.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

> Les femmes marriées gagnent 41% (-0.4123) de moins que les hommes mariés. C'est significatif car la p-valeur est à zéro.

## **Exercice 7 :**

## **Exercice 8 :**

## **Exercice 9 :**